body {
    font-family: 'Muli', sans-serif;
    background-color: #eaeaea;
}

.top-nav {
    background-color: #313131;
}

.top-nav-links a {
    color: #fff;
    font-size: 12px;
}

.top-nav-links a:hover {
    color: #c5c5c5;
    text-decoration: none;
    transition: .3s ease;
}

.top-nav-login {
    color: #fff;
    font-size: 16px;
    padding: 8px 20px;
    padding-left: 0px;
    cursor: pointer;
}

.top-nav-login:hover {
    color: #c5c5c5;
    transition: .3s ease;
}

.mob-top-nav {
    background-color: #313131;
}

.mob-toggle i {
    color: #fff;
    font-size: 20px;
}

.mob-caption {
    color: #fff;
    font-size: 25px;
    font-weight: 800;
}

.mob-nav-login i {
    font-size: 11px;
}

.mob-nav-login {
    color: #fff;
    font-size: 12px;
}

.middler {
    display: flex;
    align-items: center;
    vertical-align: middle;
}


/* sidebar */

#sidebar {
    width: 260px;
    position: fixed;
    top: 0;
    left: -260px;
    height: 100vh;
    z-index: 999;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2); */
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #313131;
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 8px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #eaeaea;
    color: #313131;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}


/* sidebar end */


/* Mobile */

@media (max-width: 575.98px) {}


/* Ipad */

@media (min-width: 576px) and (max-width: 767.98px) {}


/* Ipad Pro */

@media (min-width: 768px) and (max-width: 991.98px) {}


/* Mini Desk */

@media (min-width: 992px) and (max-width: 1199.98px) {}


/* Monitor */

@media (min-width: 1200px) {}